// COLORS

// Primary

$dark-cyan1: hsl(180, 29%, 50%);

// Neutral

$background-color: hsl(180, 52%, 96%);
$tablets-color: hsl(180, 31%, 95%);
$dark-cyan2: hsl(180, 8%, 52%);
$dark-cyan3: hsl(180, 14%, 20%);


// FONTS

$font-size: 15px;

// Headings

$font-family: 'Spartan',
sans-serif;
$primary-weight: 500;
$secondary-weight: 700;